#title{
  background-color: #ff4c68;
  color: #fff;
}

.title-image{
  transform: rotate(25deg);
  width: 20%;
  right: 30%;
  position: absolute;
}
.container-fluid{
  padding: 3% 15% 7%;
}

body{
  font-family: Montserrat;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat, sans-serif';
  font-size: 3rem;
  font-weight: 900;
}

p{
  color: #8f8f8f;
}
/* Title Section */

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

.title-text{
  line-height: 1.5;
}
.nav-item{
  padding: 0 10px;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.button{
  border-style: solid;
}

.download-button{
  margin: 5% 3% 5% 0%;
}

/* Features Section */

#features{
  padding:7% 15%;
  background-color: #fff;
  position: relative;
}
.features-text{
  line-height: 1;
}

.feature-box{
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
  background-color: #ef8172;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  line-height: 1.5;
}

/* Press Section */

#press{
  background-color: #ef8172;
}
.press-logo{
  width:15%;
  margin: 20px 50px 10px;
}
 /* Pricing section */

 #pricing{
   padding: 100px;
 }

.pricing-column{
  padding: 3% 2%;
}

/* Cta section*/

#cta{
  background-color: #ff4c68;
}

/* Footer section*/

.footer-image{
  padding:5px;
}

/* Media section */

 @media (max-width: 990px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
  h1{
    font-size: 2rem;
  }
}
